beautifulsoup4
bs4
camelot-py
datasets
dotenv
FreeSimpleGUI
fitz
fastapi
groq
google
google-genai
ipython
ipywidgets
jupyterlab
requests
scikit-learn
scipy
seaborn
soundfile
sounddevice
sentence-transformers
statsmodels
streamlit
torch
tensorflow
typing
typing_extensions
tenacity
termcolor
transformers
tiktoken
textblob
tqdm
lxml
loguru
langchain
langgraph
langchain-core
langchain-community
langchain-openai
matplotlib
mglearn
numpy
nltk
openai
pillow
openpyxl
Pygments
pyodbc
pandas
plotly
pinecone
python-dotenv
playwright
PyPDF2
PyMuPDF
pathlib
protobuf